/* 공통 */
.resmt17{margin-top:17px !important;}
.resmtb17{margin-top:17px !important;margin-bottom:17px !important;}
.resmtb34{margin-top:34px !important;margin-bottom:34px !important;}
.emp_blue{color:#313AF8 !important;}
.bullet_list{
    line-height:1.4;font-size:12px;text-align:left;
    > li {
        color:#909090;position:relative;padding-left:8px;
        &:before{display:block;content:'';width:2px;height:2px;background:#909090;position:absolute;top:7px;left:0;}
        &:last-of-type{}
    }
}
.checkbox_design_item{display:flex;align-items: center;}
input.checkbox_item{
    display:inline-block;vertical-align:middle;cursor:pointer;flex:0 0 20px;vertical-align:middle;width:20px;height:20px;background:url("../images/ico_circle_01.png") no-repeat 0 0/100% auto;border-radius:100%;appearance: none;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;
    &.type2{
        background-image:url("../images/ico_circle_02.png");
    }
    &:checked{
        background-position:0 100%;
        & + .checkbox_label{}
    }
}
.checkbox_label{display:inline-block;font-size:17px;font-weight:700;margin-left:10px;vertical-align:middle;cursor:pointer;}
.stand_form_item{display:flex;align-items: center;}
input.stand_element{
    display:inline-block;box-sizing:content-box;vertical-align:middle;cursor:pointer;flex:0 0 14px;width:14px;height:14px;background:#fff;border:1px solid #707070;border-radius:0;appearance: none;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;
    &:checked{
        background:#FFDDDD url("../images/ico_formchck.png") no-repeat 50% 50%/ 100% auto; border-color:#E51F3F;
        & + .stand_label{}
    }
}
.stand_label{display:inline-block;color:#3A3B50;font-size:12px;line-height:1;margin-left:10px;vertical-align:middle;cursor:pointer;}
.props_design_item{}
input.props_design_element{
    display:inline-block;vertical-align:middle;cursor:pointer;flex:0 0 19px;width:19px;height:19px;background:#909090 url("../images/checkbox_input_small.png") no-repeat 0 0/100% auto;border-radius:100%;appearance: none;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;
    &:checked{
        background-color:#E51F3F;
        & + .props_design_label{}
    }
}
.props_design_label{cursor:pointer;display:inline-block;font-size:12px;color:#3A3B50;margin-left:6px;font-weight:500;}


input.dchk{
    display:inline-block;box-sizing:content-box;vertical-align:middle;cursor:pointer;flex:0 0 20px;width:20px;height:20px;background:url("../images/check_20x20.png") no-repeat 0 0/100% auto;border-radius:100%;appearance: none;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;
    &:checked{
        background-position:0 100%;
    }
}

.btn_box{
    min-width:70px;box-sizing:border-box;border:1px solid #9F9F9F;text-align:center;font-size:12px;color:#76747B;line-height:1;padding:10px;display:inline-block;
    &.small{padding:3px 10px;}
}

input.form_input{border:1px solid #D9D9D9;height:30px;padding:0 16px;line-height:1;width:100%;box-sizing: border-box;font-size:14px;color:#000;font-family: 'Pretendard';
    &.align2{text-align: center;}
    &.align3{text-align: right;}
}

input.form_input::-webkit-input-placeholder{color:#909090}
input.form_input::-moz-input-placeholder{color:#909090}
input.form_input:-ms-input-placeholder{color:#909090}
input.form_input::-ms-input-placeholder{color:#909090}
input.form_input::input-placeholder{color:#909090}

select.form_select{
    width:100%;color:#3A3B50;border:1px solid #D9D9D9;font-size:14px;height:30px;padding: 0 32px 0 16px;box-sizing:border-box;border-radius:0;-webkit-border-radius:0;font-family: 'Pretendard';
    background: #fff url("../images/ico_select.png") no-repeat 100% 50%/27.5px auto;line-height: 28px;-webkit-appearance:none;-moz-appearance:none;appearance:none;
    &::-ms-value {background: none; color:#222;}
    &::-ms-expand {display: none;}
    &::-ms-value {
        background: none; 
        color:#2b2b2b;
    }
    &.ready{color:#999;}
    &:disabled{background-color:#f7f7f7;color:#999999;;opacity:1;}
}



@media (max-width:1023){
    .resmtb17{margin-top:10px !important;margin-bottom:10px !important;}
    .resmtb34{margin-top:20px !important;margin-bottom:20px !important;}
}


/* 팝업 */
.mb_dim{display:block;width:100%;height:100%;background:#000;opacity:.3;position:fixed;top:0;left:0;}
.layerskin_wrap{position:absolute;top:30px;left:30px;width:calc(100% - 60px);box-sizing: border-box;z-index:3;display:none;border-radius:7px;
    -webkit-box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3); box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3);
}
.layerskin_wrap.active{display:block;}
.lyskin_title_low{background:#b14487;min-height:65px;box-sizing: border-box;padding:20px 65px 15px 25px;border:1px solid #b14487;border-radius:5px 5px 0 0;}
.lyskin_title{font-size:21px;color:#fff;font-family: 'GmarketSansBold';line-height:1.2;}
.lyskin_tsub{font-family: 'GmarketSansMedium';}
.lyskin_content_low{border:1px solid #b14487;border-top:0;border-radius:0 0 5px 5px;background:#fff;padding:30px 50px;}
.btn_lyskin_close{display:block;width:65px;height:65px;position:absolute;top:0;right:0;font-size:0;line-height:0;}
.btn_lyskin_close:before,
.btn_lyskin_close:after{width:27px;height:2px;display:block;content:'';position:absolute;top:50%;left:50%;background:#fff; margin:-1px 0 0 -13.5px;
    transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
}
.btn_lyskin_close:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.btn_lyskin_close:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
.btn_layerclose{display:block;width:43px;height:43px;font-size:0;line-height:0;background:url("../images/btn_popupclose.png") no-repeat 50% 50%/16px auto;}


.fullpop_dim{display:block;width:100%;height:100%;position:fixed;top:0;left:0;z-index:10;background:rgba(0,0,0,0.68);}
.pop_dim{display:block;width:100%;height:100%;position:fixed;top:0;left:0;z-index:10;}
.dimlayer_z{display:none;position:fixed;top:0;left:0;min-width:280px;overflow:hidden;overflow-y:auto;width:100%;height:100%;z-index:1000000;align-items: center;justify-content: center;}
.dimlayer_z.fulltype{overflow:hidden;}
.dimlayer_z.active{display:flex}
.dimlayer_z.atype2{align-items: flex-start;}
.dimlayer_z.atype2 .norpop_item{position:absolute;width:100%;display:flex;justify-content: center;box-sizing: border-box;padding:30px;}
.fullpop_item_wrap{}
.fullpop_item{
    box-sizing: border-box;z-index:20; max-width:800px;margin:30px auto; max-height:calc(100% - 60px); background:#fff; position:relative; display:flex; flex-direction: column;
    -webkit-box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3); box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3); border-radius:30px; width:100%;position:relative;overflow:hidden;
    &.wtype2{max-width:520px;}
    &.wtype3{max-width:630px;}
}
.fullpop_titlow{flex:0;background:#fff;border-radius:30px 30px 0 0;padding:10px;position:relative;
    &.type2{
        .fullpop_title_fxwrap{align-items:center;justify-content:center;background-color:#E51F3F;text-align: center;}
        .btn_layerclose{position:absolute;top:0;right:0;}
        .fullpop_title{font-size:19px;}
    }
    &.dtype2{
        .fullpop_title_fxwrap{background-color:#E4EBF0;}
        .fullpop_title{color:#3A3B50;}
        .btn_layerclose{background-image:url("../images/btn_popupclose2.png");}
    }
}
.fullpop_title{font-size:22px;color:#fff;font-family: 'GmarketSansBold';line-height:1.2;position:relative;top:2px;}
.fullpop_tsub{font-family: 'GmarketSansMedium';}
.fullpop_contlow{border-top:0;border-radius:0 0 30px 30px;background:#fff;position:relative;overflow:hidden;overflow-y:auto;overflow:overlay;flex:1;}
.fullpop_contlow_in{padding:13px 50px 33px;}
.fullpop_contlow::-webkit-scrollbar {width: 10px;}
.fullpop_contlow::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}
.fullpop_contlow::-webkit-scrollbar-track {background-color: #fff;border-radius: 10px;box-shadow: inset 0px 0px 5px white;}

.fullpop_title_fxwrap{
    display:flex;border-radius:43px;height:43px;background:#E09200;position:relative;
    .mobile_btn_cell{display:none;flex:0 0 25px;}
    .cha_cell{
        flex:0 0 111px;background:#5C1621;border-radius:43px 0 40px 43px;font-size:0;line-height:0;display:flex;align-items:flex-end;justify-content:center;
        > img{vertical-align: bottom;height:76px;}
    }
    .title_cell{flex:1;min-width:0;text-align: center;display:flex;align-items: center;justify-content: center;}
    .btn_cell{flex:0 0 111px;display:flex;justify-content: flex-end;}
}
.btn_mobile_popup_back{display:none;position:absolute;top:0;left:0;height:43.59px;width:38px;background:url("../images/btn_mobile_popup_back.png") no-repeat 50% 50%/12px auto;}
@media (max-width:1023px){
    .fullpop_titlow,
    .fullpop_contlow,
    .fullpop_item{border-radius:0;}
    .fullpop_item{padding:0;margin:0;max-height:100% !important;height:100%;width:100%;max-width:100% !important;}
    .fullpop_title_fxwrap{
        border-radius:0;height:auto;display:block; text-align: center;padding:13px 38px 9px;box-sizing:border-box;min-height:43px;
        .btn_cell,
        .cha_cell{
            display:none;
        }
        .mobile_btn_cell{display:block;}
        .title_cell{display:block;}
    }
    .btn_layerclose{width:43px;height:43px;}
    .btn_mobile_popup_back{display:block;}
    .fullpop_titlow{padding:0;
        &.type2{
            .fullpop_title{}
        }
    }
    .fullpop_title{font-size:16px !important;top:0px;}
    .fullpop_contlow_in{padding:15px;
        &.type2{padding-bottom:70px}
    }
}


.form_end_copy_group{text-align: center;padding:20px 20px 32px}
.end_copy_main{font-size:36px;color:#0F5058;line-height:1;font-weight:700;}
.end_copy_sub{font-size:16px;color:#A1A6A7;line-height:1;font-weight:700;margin-top:2px;}
.end_copy_img{
    margin-top:15px;
    > img{vertical-align: top;max-width:196px;margin:0 auto;}
}
.guide_tb_g{}
.guide_tb{display:table;margin:0 auto;border-collapse: collapse;background:#FAFAFA;min-width:310px;}
.guide_tr{display:table-row;}
.guide_cell{
    display:table-cell;vertical-align:middle;border:1px solid #D9D9D9;padding:7px 0;
    &.define_th{width:1px;border-right:0;padding-left:20px;}
    &.define_td{padding:7px 20px;border-left:0;}
}
.guide_thtext{display:inline-block;color:#909090;font-weight:700;white-space: nowrap;font-size:14px;}
.guide_tdtext{display:inline-block;color:#3A3B50;font-weight:700;font-size:14px;}
.btn_emp_submit_row{margin-top:33px;text-align: center;}
.btn_emp_submit{display:inline-block;background:#FFEFF0;border:2px solid #E51F3F;border-radius:100px;text-align: center;min-width:218px;}
.emp_submit_in{display:inline-block;font-size:17px;color:#E51F3F;line-height:1;padding:10px;font-weight:700;}

.guide_bottom_text_group{
    text-align:center;margin:34px 0;
    .bullet_list{display:inline-block;}
}

.form_app_tb{display:table;width:100%;

    &.type2{
        .form_app_cell{padding-bottom:10px;}

    }
}
.form_app_tr{display:table-row;
    &:last-of-type{
        .form_app_cell{padding-bottom:0 !important;}
    }
}
.form_app_cell{
    display:table-cell;vertical-align:top;padding-bottom:24px;
    &.define_th{width:1px;padding-right:26px;
        &.align2{vertical-align: middle;}
    }
    &.define_td{}
}
.form_app_label{display:inline-flex;white-space:nowrap;font-size:14px;font-weight:700;min-height:30px;align-items: center;line-height:1;}
.inline_flex_group{
    display:flex;align-items:center;
    > .wid_30{flex:0 0 30%;}
    > .wid_20{flex:0 0 20%;}
    > .wid_15{flex:0 0 15%;}
    > .wid_full{flex:1;min-width:0;}
    > input.form_input{flex:1;min-width:0;}
    > *{
        margin-right:9px;
        &:last-child{margin-right:0;}
    }
}
.inline_mb_group{
    flex:0 0 60%; display:flex;align-items:center;width:100%;
    > .wid_30{flex:0 0 30%;}
    > .wid_20{flex:0 0 20%;}
    > .wid_15{flex:0 0 15%;}
    > .wid_full{flex:1;min-width:0;}
    > input.form_input{flex:1;min-width:0;}
    > *{
        margin-right:9px;
        &:last-child{margin-right:0;}
    }
}
.inline_block_row_group{}
.inline_block_row{
    margin-bottom:4px;
    &:last-of-type{margin-bottom:0;}
    .inline_flex_group{}
    > select.form_select{}
    > input.form_input{}
}
.btn_inline_box{
    border:1px solid #9F9F9F;font-size:13px;box-sizing:border-box;text-align:center;background:#F4F4F4;color:#76747B;height:30px;white-space:nowrap;min-width:93px;line-height:29px;padding:0 10px;
    &.red_emp{color:#E51F3F;border:1px solid #E51F3F;background:#FFF8F8;
        &:disabled{background:#FFF8F8;opacity:1;color:#D9D9D9;border-color:#D9D9D9;}
    }
    &:disabled{opacity:.5;}
}
.form_inline_box{
    flex:1;display:flex;border:1px solid #D9D9D9;
    input.form_input{height:28px;padding:0 14px;border:0;}
}

.form_inline_control_group{display:flex;justify-content: flex-end;align-items: center;margin-right:14px;
    > *{
        margin-right:10px;
        &:last-child{margin-right:0;}
    }
}
.check_emp_text{display:inline-block;text-align: right;white-space: nowrap;color:#E51F3F;font-weight:700;}
.btn_form_reset{display:inline-block;width:18px;height:18px;border-radius:100%;background:url("../images/ico_input_reset.png") no-repeat 50% 50%/18px auto;vertical-align: middle;}

.formbox_item_group{
    font-size:0;line-height:0;display:flex;flex-wrap:wrap;margin-top:-5px;
}
input.formbox_element{
    appearance: none;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;overflow:hidden;width:0;height:0;opacity:0;
    &:checked + .formbox_label{border-color:#E51F3F;color:#E51F3F;background:#FFF8F8;
        &:after{background-position:0 100%;}
    }
}
.formbox_label{
    display:inline-block;border:1px solid #D9D9D9;background:#fff;min-width:133px;box-sizing: border-box;font-weight:500;text-align: right;cursor:pointer;padding:7px 20px 7px 50px;margin: 5px 5px 0 0;line-height:1;position:relative;font-size:14px;color:#909090;
    &:after{display:block;content:'';width:15px;height:11px;background:url("../images/ico_check.png") no-repeat 0 0/100% auto;position:absolute;top:50%;left:14px;margin-top:-5.5px;}
}
.choice_product_fxwrap{display:flex;margin:-8.5px;
   
}
.choice_product_fxcell{flex:1;display:flex;align-items: center;padding:8.5px;}
.choice_product_item{
    background:#FFEFE3; border-radius:10px;width:100%;height:100%; display:flex;align-items:center;padding:15px; box-sizing: border-box;border:1px solid transparent;
    > *{flex:1;}
    &.type2{
        background:#EBF0FF;
        &.active{border-color:#A73CBA;}
    }

    &.active{border-color:#E51F3F;}

    
}
.choice_product{
    > img{vertical-align: top;max-width:103px;}
}
.choice_form{
    display:flex;justify-content:center;align-items:center;
    .checkbox_design_item{}
}

.form_agree_group{margin-top:40px;}
.form_agree_item{}
.form_agree_row{display:flex;align-items: center;justify-content: space-between;
    & + .warn_para_g{margin-left:26px;}
}
.form_agree_props_cell{
    .stand_form_item{}
}
.form_agree_else_cell{}
.form_agree_toggle_cont{margin-top:10px;overflow-y:auto;overflow:overlay;border:1px solid #D9D9D9;padding:16px;box-sizing: border-box;height:100px;display:none;}
.btn_formsubmit_wrap{text-align: center;margin-top:16px;font-size:0;line-height:0;
    &.type2{
        display:flex;justify-content: flex-end;margin-top:5px;
    }
}
.btn_formsubmit{
    display:inline-flex;height:50px;border-radius:100px;align-items:center;background:#E51F3F;box-sizing:border-box;padding:7px 7px 6px;
    &:after{display:block;content:'';width:35px;height:35px;background:#571212 url("../images/ico_submit_allow.png") no-repeat 50% 50%/12px auto;border-radius:100%;flex:0 0 35px;}
}
.formsubmit_intext{display:inline-block;color:#fff;font-size:18px;font-weight:700;padding:0 20px 0 36px;}
.warn_para_g{
    margin-top:6px;position:relative;display:none;
    &.d_red{
        color:#E51F3F;font-weight:700;padding-left:8px;
        &:before{display:block;content:'';width:4px;height:4px;border-radius:100%;position:absolute;top:5px;left:0;background:#E51F3F;border-radius:100%;}
      .warn_para{
        &:before{}
      }  
    }
    &.d_blue{
        color:#0089FF;font-weight:700;padding-left:8px;
        &:before{display:block;content:'';width:4px;height:4px;border-radius:100%;position:absolute;top:5px;left:0;background:#0089FF;border-radius:100%;}
      .warn_para{
        &:before{}
      }  
    }
}
.warn_para{
    &:before{}
}

.reply_form_wrap{
    padding-top:10px;
    .form_app_tb{}
}
.cha_choice_fxwrap{display:flex;}
.cha_choice{
    flex:1;text-align:center;
    .red_checkbox{}
}
.cha_label{
    display:block;cursor: pointer;
    > img{max-width:57px;margin:0 auto;cursor: pointer;}
}
.cha_label_text{font-size:14px;color:#3A3B50;line-height:1;font-weight:700;padding:10px 0;}
.form_textarea_group{margin-top:26px;border:1px solid #D9D9D9;}
.form_textarea{box-sizing: border-box;width:100%;padding:17px 19px;font-size:14px;border:0;height:80px;resize:none;}
.form_textarea_guide{padding:0 19px 12px;text-align: right;color:#3A3B50;}

.import_form_guide{
    color:#E51F3F;position:relative;padding-left:10px;margin-top:10px;
    &:before{display:block;content:'※';position:absolute;top:0;left:0;}
}

.props_agree_zone{margin-top:30px;}
.agree_total_row{
    margin-bottom:10px;
    .props_design_item{}
}
.agree_tail_group{}
.agree_tail_row{
    margin-bottom:20px;
    &:last-of-type{margin-bottom:0;}
}
.agree_tail_scroll_zoe{height:120px;box-sizing:border-box;border:1px solid #D9D9D9;padding:18px 20px;color:#3A3B50;line-height:1.5;overflow-y:auto;overflow:overlay;}
.term_item{
    margin-bottom:30px;
    &:last-of-type{margin-bottom:0;}
}
.term_title{color:#3A3B50;line-height:1;font-weight:500;margin-bottom:10px;}
.term_bullet_list{
    color:#3A3B50;
    line-height:1.4;font-size:12px;text-align:left;
    > li {
        color:#3A3B50;position:relative;padding-left:8px;
        &:before{display:block;content:'';width:2px;height:2px;background:#3A3B50;position:absolute;top:7px;left:0;}
        &:last-of-type{}
    }
}
.agree_tail_form_zone{
    margin-top:8px;
    .stand_form_item{}
}
.btn_finish_submit{display:inline-block;background:#E51F3F;border-radius:100px;text-align:center;min-width:132px;padding:12px;}
.btn_finish_submit_in{
    display:inline-block;position:relative;font-size:16px;color:#fff;font-weight:900;line-height:1;padding-right:20px;top:1px;
    &:after{
        display:block;content:'';width:10.5px;height:18px;background:url("../images/btn_submit_allow.png") no-repeat 0 0/100% auto;position:absolute;top:50%;right:0;transform: translateY(-50%);margin-top:-1px;
    }
}




@media (max-width:1023px){
    .form_app_tb{display:block;}
    .form_app_tr{display:block;}
    .form_app_cell{
        display:block;
        &.define_th{width:auto;padding:0;}
    }

    .btn_formsubmit_wrap{position:fixed;bottom:0;left:0;width:100%;z-index:10;background:#E51F3F;
        &.type2{
            display:block;
        }
    }
    .formsubmit_intext{padding:0 10px 0 0;font-size:15px;}
    .btn_formsubmit{
        height:40px;
        &:after{width:24px;height:24px;flex-basis: 24px;background-size:8px auto;}
    }
    .btn_inline_box {min-width:0;}
    .form_app_label{
        br{display:none;}
    }

    input.form_input{padding:0 10px;}

    .inline_flex_group{
        > *{
            margin-right:0;
        }
        .form_inline_box + .btn_inline_box,
        .form_input + .btn_inline_box{position:relative;z-index:2;margin-left:-1px;}

        &.mb_break{display:block;
            > *{margin-bottom:4px;
                &:last-child{margin-bottom:0;}
            }
        }
    }
    .formbox_label{min-width:90px;}

    .inline_mb_group{}

    .choice_product_item{display:block;}
    .choice_product > img{max-width:70px;}
    .choice_form{justify-content: flex-end;}

    .checkbox_label{margin-left:5px;}
    

    .guide_tb{min-width:0;width:100%;}

    .cha_choice_fxwrap{flex-wrap:wrap;justify-content: center;margin-bottom:-20px;}
    .cha_choice{flex:0 0 33.33333333%;padding-bottom:20px;}
    .cha_label_text{padding:5px 0;}
}


/* design */
.multi_topnext_zone{padding:100px 0 0 0;background:#0A2E71;border-radius:0 0 50px 50px;position:relative;overflow:hidden;
    .pc_item{

    }
}
.multi_cont_zone{
    .tong_img_item{}
}
.tong_img_wrap{
    font-size:0;line-height:0;text-align:center;
    .tong_img_item{
        img{vertical-align: top;z-index:1;position:relative;}
    }
}

.tong_img_item{
    &.has_btn{position:relative;}
}
.opacity_layer_btn{/*background:red;*/position:absolute;opacity:.5;z-index:5;}

.eng_cont{
    .tong_img_item{max-width:1140px;margin:0 auto;
        &.has_bg_emp{
            &:before{display:block;content:'';width:100vw;position:absolute;top:0;left:50%;height:100%;transform: translate(-50%,0);background:#f8f4f5;}
            position:relative;
        }
    }
}
.math_cont{
    .tong_img_item{max-width:1140px;margin:0 auto;
        &.has_bg_emp{
            &:before{display:block;content:'';width:100vw;position:absolute;top:0;left:50%;height:100%;transform: translate(-50%,0);background:#f5f8fd;}
            position:relative;
        }
    }
}
.shu_cont{
    .tong_img_item{max-width:1140px;margin:0 auto;
        &.has_bg_emp{
            &:before{display:block;content:'';width:100vw;position:absolute;top:0;left:50%;height:100%;transform: translate(-50%,0);background:#f4f4f4;}
            position:relative;
        }
    }
}
.hangle_cont{
    .tong_img_item{max-width:1140px;margin:0 auto;
        &.has_bg_emp{
            &:before{display:block;content:'';width:100vw;position:absolute;top:0;left:50%;height:100%;transform: translate(-50%,0);background:#f5f8fd;}
            position:relative;
        }
    }
}
.multi_topnext2_zone{padding-bottom:126px;}

.btn_link_item_row{text-align: center;}
.btn_link_item{display:inline-block;
    &.mbtype{max-width:41.333vw;}
}

@media(max-width:1023px){
    .multi_topnext_zone{border-radius:0;position:relative;overflow:hidden;padding-top:0}
    .tong_img_wrap{
        font-size:0;line-height:0;
        .tong_img_item{
            img{width:100%;}
        }
    }
    .multi_topnext2_zone{padding-bottom:60px;}
}
/* // design */