.event_zone{background:#6573DC;}

.event_zone img{vertical-align: top;max-width:inherit;width:100%;}

.event_pc_img{background:url("../images/event_top.jpg") no-repeat 50% 0;height:1575px;position:relative;
    .btn_share{position:absolute;top:1042px;left:50%;width:360px;height:92px;transform: translateX(-50%);}
}
.event_mb_img{display:none;position:relative;
    img{width:100%;}
    .btn_share{position:absolute;top:64.31663574520717%;left:50%;width:37.5%;height:5.81323438466296%;transform: translateX(-50%);}
}

.pc_item{display:block !important;}
.mb_item{display:none !important;}

.etab_g{display:flex;justify-content:center;max-width:1200px;margin:0 auto;
    > .etab{flex:0 0 50%;}
    img{}
}

.btn_event_submit{text-align: center;display:block;max-width:930px;margin:0 auto;
    img{}
}
.btn_event_submit{}

.layer_obj{
    text-align: center;position:relative;top:-86px;
    img{width:auto !important;}
}

.event_box{
    max-width: 1200px;
    margin: auto;
    background-color: #F4F4F4;
    border-radius: 0 0 60px 60px;
    overflow: hidden;
    padding-bottom:75px;
    box-shadow: 5.2px 22.4px 29px 0 rgb(0 0 0 / 40%);

    img{width:100%;}

    &.type2{background:#fff;margin-top:122px;overflow:visible;border-radius: 60px;padding-bottom:0;}
}

.btn_reply_wrap{
    text-align: center; margin-top:-60px;
    .btn_reply{
        display:inline-block;
        img{width:auto;}
    }
}

.mb_coffee_wrap{position:relative;}
.btn_reply_mb{position:absolute;top:76.1609907120743%;left:22%;width:55.55555555555556%;height:13.93188854489164%;}

.banner_floating_wrap{padding:60px 30px;text-align: center;}
.banner_floating{display:inline-block;}

.pc_img{display:inline-block !important;}
.mb_img{display:none !important;}


.paging {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 18px;
  }
  
  .paging button {
    width: 80px;
    height: 46px;
    display:inline-block;
  }
  
  .paging .prev {
    background:url("../images/btn_arrow_l@2x.png") no-repeat;display:inline-block;width: 80px;
    height: 46px;
    background-size: 100%;
  }
  
  .paging .next {
    background:url("../images/btn_arrow_r@2x.png") no-repeat;display:inline-block;width: 80px;
    height: 46px;
    background-size: 100%;
  }
  
  .paging p {
    margin: 0 40px;
    letter-spacing: -0.9px;
  }
  
  .paging p span {
    font-weight: 700;
  }

  .getdata_zone{
    img{max-width:100%;width:auto;}
  }

@media(max-width:1023px){
    .event_mb_img{display:block;}
    .event_pc_img{display:none;}
    .pc_item{display:none !important;}
    .mb_item{display:block !important;}
    .event_box{border-radius:0;padding-bottom:0;}
    
    .event_box{
        &.type2{margin-top:0;border-radius:0;}
    }
    
    .pc_img{display:none !important;}
    .mb_img{display:inline-block !important;}
    .banner_floating_wrap{padding:0;}
}