::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}
::-webkit-scrollbar-track {background-color: transparent;border-radius: 10px;box-shadow: inset 0px 0px 5px transparent;}

.front_body{}
.page_wrap{}

.sub_visual_zone{background:#0A2E71;position:relative;height:450px;overflow:hidden;
    &:before{display:block;content:'';width:100%;height:162px;background:url("../images/bg_svline.png") no-repeat 50% 100%;position:absolute;bottom:0;left:0;}
    &:after{display:block;content:'';width:100%;height:70px;background:url("../images/bg_svline2.png") no-repeat 50% 100%;position:absolute;bottom:0;left:0;}

    &.math_type{
        &:before{background-image:url("../images/bg_svline_math.png");}
        .sub_visual_cha_group{background-image:url("../images/sv_cha_shadow_04.png");}
        .sub_visual_main strong{color:#DD8815;}
    }

    &.hangle_type{
        &:before{background-image:url("../images/bg_svline_hangle.png");}
        .sub_visual_cha_group{background-image:url("../images/sv_cha_shadow_05.png");}
        .sub_visual_main strong{color:#29DB83;}
    }

    &.shu_type{
        &:before{background-image:url("../images/bg_svline_shu.png");}
        .sub_visual_cha_group{background-image:url("../images/sv_cha_shadow_06.png");padding-bottom:22px;}
        .sub_visual_main strong{color:#5479CB;}
    }
}

.sub_visual_else_zone{background:#0A2E71;position:relative;padding:30px 0 54px;text-align: center;}
.sv_else_title{color:#fff;font-size:46px;font-family: 'GmarketSansBold';text-align: center;letter-spacing: -1px;}
.sub_visual_pix_inner{position:absolute;bottom:0;left:50%;height:calc(100% - 77px);transform: translateX(-50%);width:1174px;}
.header_wrap{position:absolute;width:100%;left:0;top:0;z-index:10;
    &.type2{position:static;}
}

.toplogo{display:inline-block;position:absolute;top:30px;left:50px;font-size:0;line-height:0;}
.toplogo_item{
    display:inline-block;
    > img{max-width:106px;}
}

.gnbmenu_list_wrap{background:url("../images/bg_gnb.png") no-repeat 50% 0/1214px auto;width:1214px;margin:0 auto;height:100px;}
.gnbmenu_list{
    width:1174.52px;display:flex;justify-content:center;margin:0 auto;z-index:2;position:relative;
    > li{
        flex:1;
        &.active{
            .gnbmenu{
                &:before{top:0;opacity:1;}
                &.menu_01{
                    &:before{}
                }
                // &.menu_02{background-image:url("../images/gnb_active_02.png");}
                // &.menu_03{background-image:url("../images/gnb_active_03.png");}
                // &.menu_04{background-image:url("../images/gnb_active_04.png");}
                // &.menu_05{background-image:url("../images/gnb_active_05.png");}
                // &.menu_06{background-image:url("../images/gnb_active_06.png");}
            }
        }
    }
}
.gnbmenu{
    height:77.07px;display:flex;align-items:center;justify-content:center;flex-direction:column;position:relative;box-sizing:border-box;padding-top:3px;text-align:center;
    &:before{display:block;content:'';transition:.5s;width:240px;height:100px;position:absolute;top:-100%;left:50%;transform:translateX(-50%);background-repeat:no-repeat;background-size:100% auto;background-position:0 0;opacity:0;}
    &:hover{
        z-index:10;
        &:before{top:0;opacity:1;}
    }
    &.menu_01{
        padding-left:5px;
        &:before{background-image:url("../images/gnb_active_01.png");margin-left:5px;}
        &:hover{}
    }
    &.menu_02{
        &:before{background-image:url("../images/gnb_active_02.png");}
        &:hover{}
    }
    &.menu_03{
        &:before{background-image:url("../images/gnb_active_03.png");}
        &:hover{}
    }
    &.menu_04{
        &:before{background-image:url("../images/gnb_active_04.png");}
        &:hover{}
    }
    &.menu_05{
        &:before{background-image:url("../images/gnb_active_05.png");}
        &:hover{}
    }
    &.menu_06{
        padding-right:11px;
        &:before{background-image:url("../images/gnb_active_06.png");margin-left:-11px;}
        &:hover{}
    }
}
.gnbmenu_label{
    position:relative;z-index:2;font-size:13px;padding-left:16px;color:#fff;
    &:before{display:block;content:'';width:10px;height:10px;background:url("../images/ico_plus_more.png") no-repeat 50% 50%/100% auto;position:absolute;top:2px;left:0;}
}
.gnbmenu_main{position:relative;z-index:2;color:#fff;font-size:18px;font-family: 'GmarketSansBold';margin-top:4px;}

.header_add_obj_group{display:block;position:fixed;bottom:0;right:0;padding:30px 40px;}
.btn_header_obj_layer{
    display:inline-flex;align-items:center;background:#E51F3F;height:48px;border-radius:100px;padding:0 12px 0 0;
    &:after{display:block;content:'';width:30px;height:30px;background:#fff url("../images/ico_play_x2.png") no-repeat 50% 50%/17px auto;border-radius:100%;flex:0 0 30px;}
}
.header_obj_intext{color:#fff;font-size:23px;font-family: 'GmarketSansMedium';display:inline-block; position:relative;top:3px;margin: 0 48px 0 27px;}
.header_bg{display:none;}

.add_pop_item_layer{

}
.btn_quick_add{}
.btn_quick_add:after{}
.btn_quick_add_in{}

.sub_visual_copy_group{position:absolute;bottom:81px;left:0;width:calc(100% - 400px);display:flex;align-items: center;height:calc(100% - 81px);justify-content: flex-start;}
.sub_visual_label{font-size:22px;color:#fff;font-family: 'GmarketSansMedium';line-height:1.3;width:100%;}
.sub_visual_main{
    width:100%;font-family: 'GmarketSansBold';font-size:46px;color:#fff;margin-top:18px;
    strong{color:#FEC900;}
}
.sub_visual_mobile{}
.sub_visual_map_group{position:absolute;bottom:0;left:50%;height:70px;z-index:10;width:1174px;transform:translateX(-50%);}
.sub_visual_map_item{height:100%;width:350px;display:flex;align-items: center;justify-content: space-between;}

.sv_map_list{
    display:flex;align-items:center;
    > li{
        margin-right:14px;
        &:last-of-type{margin-right:0;}
    }
}
.sv_map_home{display:inline-block;width:34px;height:34px;background:url("../images/ico_page_map.png") no-repeat 50% 50%/100% auto;border-radius:100%;vertical-align: middle;}
.sv_map_menu{display:inline-block;font-size:18px;color:#000;font-weight:700;color:#3A3B50;}

.paging_item_group{display:flex;align-items: center;justify-content: space-between;padding-right:60px;}
.paging_item{
    display:inline-block;width:34px;height:34px;border-radius:100%;background-position:50% 50%;background-repeat:no-repeat;background-repeat:no-repeat;background-size:100% auto;
    margin-right:16px;
    &:last-of-type{margin-right:0;}
    &.prev{background-image:url("../images/ico_page_map_prev.png");}
    &.next{background-image:url("../images/ico_page_map_next.png");}
}

.sub_visual_cha_group{width:364px;position:absolute;bottom:0;right:0;height:100%;text-align: center;display:flex;align-items: flex-end;justify-content: center;box-sizing: border-box;padding-bottom:33px;background:url("../images/sv_cha_shadow_01.png") no-repeat 50% 100%/100% auto;}
.sub_visual_cha_item{}
.sv_cha{
    > img{max-width:270px;}
    &:before{}
}
.multi_top_zone{background:#0A2E71;
    &.main_type{background:none;}
}

.multi_topnext_zone{padding:100px 0 0 0;background:#0A2E71;}

.middle_zone{max-width:1180px;margin:0 auto;padding:126px 30px;}

.bottom_quick_zone{
    background:#4387b9;padding-bottom:85px;
    .pix_inner{max-width:1013px;margin:0 auto;text-align: center;}
    .copy_group{padding:82px 0 60px;}
    .copy_main{
        font-family: 'GmarketSansBold';font-size:30px;line-height:1.3; color:#fff;
        strong{color:#E3E1C0;}
    }
}
.pix_inner{}
.bottom_quick_list_wrap{}
.bottom_quick_list{
    display:flex;
    > li{
        flex:1;padding:0 6.5px;
    }
}
.bottom_quick_banner{
    background:#A8F8FF;border-radius:23px;display:flex;align-items:flex-end;flex-direction:column;height:100%;justify-content:flex-end;position:relative;overflow:hidden;
    > *{width:100%;}
    &:after{display:block;content:'';width:45px;height:43px;background:url("../images/btn_bottom_go.png") no-repeat 50% 50%/100% auto;position:absolute;bottom:0;right:0;border-radius:23px 0 0 0;}
}
.bottom_quick_copy_group{text-align: left;padding:15px 0px 20px 20px;box-sizing: border-box;}
.bottom_quick_copy_label{font-size:13px;color:#212227;position:relative;padding-left:17px;
    &:before{display:block;content:'';width:10px;height:10px;background:url("../images/bottom_icoplus.png") no-repeat 0 0/100% auto;position:absolute;top:2px;left:0;}
}
.bottom_quick_copy_main{font-size:20px;font-weight:700;color:#212227;margin-top:9px;font-family: 'GmarketSansBold';}
.bottom_quick_cha_group{
    text-align: left;padding-left:20px;box-sizing:border-box;
    > img{max-width:68px;margin:0 auto;vertical-align: top;}
}

.footer_wrap{
    background:#121217;
    .pix_inner{max-width:1000px;margin:0 auto;padding:0 30px;}
}
.footer_pc{display:flex;justify-content: space-between;padding:50px 0 30px 0;}
.footer_main{}
.footer_sub{display:flex;flex-direction: column;justify-content: space-between;}
.footer_text_sub{font-size:17px;font-weight:700;color:#fff;}
.footer_text_main{font-size:27px;font-weight:700;color:#fff;margin-top:20px;position:relative;padding-left:24px;line-height:1;
    &:before{display:block;content:'';width:12px;height:12px;border-radius:100%;position:absolute;top:12px;left:0;background:#fff;}
}
.footer_address{font-size:14px;color:#fff;margin-top:15px;}
.address_initem{
    margin:0 20px 3px 0;display:inline-block;
    &:last-of-type{}
}
.footer_copyright{color:#6C6C74;font-size:14px;margin-top:20px;}

.family_toggle_item{position:relative;}
.family_toggle_bar{border-bottom:1px solid rgba(255,255,255,.37);display:block;padding:0 20px 6px 0;position:relative;
    &:after{display:block;content:'';width:7px;height:7px;border-right:1px solid #fff;border-bottom:1px solid #fff;transform:translateZ(0) rotate(45deg);position:absolute;top:1px;right:3px;}
    &.active:after{transform:translateZ(0) rotate(225deg);top:6px;}
}
.family_toggle_bar_text{font-size:13px;color:#fff;line-height:1;font-weight:500;}
.family_option_list_wrap{display:none;position:absolute;top:21px;left:0;width:100%;background:#000;overflow-y:auto;overflow:overlay;max-height:102px;
    &::-webkit-scrollbar-thumb {background-color: #121217;}
}
.family_option_list{
    > li{
        &:last-of-type{}
    }
}
.family_option{display:block;color:#fff;padding:10px;opacity:.5;}
.footer_customer_item{}
.footer_customer_label{font-size:15px;color:#fff;line-height:1;}
.footer_customer_main{font-size:27px;color:#E51F3F;font-weight:700;line-height:1;margin-top:10px;}
.footer_customer_sub{font-size:14px;color:#6C6C74;line-height:1;margin-top:8px;}

.footer_mobile{display:none;text-align: center;padding:25px 0;}
.footer_mb_customer_item{}
.footer_mb_customer_label{color:#fff;line-height:1;font-size:16px;}
.footer_mb_customer_main{line-height:1;font-size:36px;font-weight:700;color:#E51F3F;margin-top:5px;}
.footer_mb_customer_sub{font-size:12px;color:#6C6C74;line-height:1;margin-top:6px;}

.footer_mb_text_main{font-size:16px;font-weight:700;color:#fff;margin-top:16px;}

.footer_company_group{margin-top:28px;}
.footer_company_label{font-size:13px;font-weight:700;color:#fff;}
.footer_company_address{margin-top:5px;color:#fff;font-size:12px;line-height:1.3;word-break: keep-all;}
.address_mb_initem{
    margin:0 5px 3px 5px;display:inline-block;
    &:last-of-type{}
}
.footer_mb_copyright{color:#6C6C74;font-size:12px;margin-top:12px;}
.pc_menu{display:inline-block !important;}
.mb_menu{display:none !important;}

.footer_mobile .footer_mb_customer_item{}
.footer_mobile .footer_mb_customer_label{font-size:14px;}
.footer_mobile .footer_customer_sub{font-size:14px;}
.footer_mobile .footer_mb_customer_main{font-size:26px;}

.footer_mobile .footer_company_label{font-size:15.5px;}
.footer_mobile .address_initem{font-size:12px;margin-right:7px;}
@media(max-width:1919px){


    .header_obj_intext{font-size:18px;margin:0 20px;top:2px;}
    .btn_header_obj_layer:after{width:25px;height:25px;flex-basis: 25px;background-size:50% auto;}
    .btn_header_obj_layer{height:40px;}
    .toplogo{left:30px;}
    .header_add_obj_group{}
}
@media(max-width:1650px){
    
}

@media(max-width:1279px){
    .gnbmenu_list > li{
        display:flex;align-items: center;
    }
    .gnbmenu_list > li.active .gnbmenu:before,
    .gnbmenu_label{display:none;}
    .gnbmenu_list_wrap{width:auto;background:none;}
    .header_wrap{}
    .toplogo{display:block;position:static;text-align: center;}
    .gnbmenu:before,
    .sub_visual_zone:after,
    .sub_visual_zone:before,
    .sub_visual_map_group{display:none;}
    .gnbmenu_list{width:auto;}
    .gnbmenu_list_wrap{height:auto;}
    .header_wrap {border-radius:0 0 50px 50px;width:auto;position:relative;
        padding:30px 37px;
        &.eng_active{background:#FEC900;}
        &.reading_active{background:#23C3BB;}
        &.eng2_active{background:#2FF8EE;}
        &.math_active{background:#DD8815;}
        &.hangle_active{background:#29DB83;}
        &.shu_active{background:#5479CB;}
    }
    .header_add_obj_group{right:0;bottom:0;padding:20px;}
    .gnbmenu_main{font-size:20px;}
    .multi_top_zone{border-radius:0 0 50px 50px;position:relative;overflow:hidden;
        &.type2{border-radius:0;}
        &.mbtype2{border-radius:0;}
    }
    .header_bg{display:block;content:'';position:absolute;top:-100px;width:100%;height:100px;background:#0A2E71;}
    .sub_visual_pix_inner{width:100%;}
    .sub_visual_copy_inner{padding:0 50px;}

    .gnbmenu_list_wrap{margin-top:20px;}
    .gnbmenu_list{justify-content: space-between;margin:0 -5px;
        > li{flex:0;padding:0 5px;}
    }
    .gnbmenu{height:auto;padding:0 !important;white-space: nowrap;}
    .gnbmenu:hover .gnbmenu_main:after{display:block;content:'';position:absolute;bottom:-3px;height:4px;background:#fff;border-radius:100px;width:100%;}
    .gnbmenu_list > li.active .gnbmenu .gnbmenu_main{
        &:after{display:block;content:'';position:absolute;bottom:-3px;height:4px;background:#fff;border-radius:100px;width:100%;}
    }

    .sub_visual_copy_group{width:calc(100% - 320px)}
    .multi_topnext_zone,
    .middle_zone{padding:60px 30px;}
}

@media(max-width:1100px){

    .bottom_quick_zone{
        padding-bottom:40px;
        .copy_group{padding:51px 0 40px;}
        .copy_main{
            font-size:25px;
        }
        .pix_inner{padding:0 20px;}
    }
    .bottom_quick_list{
        flex-wrap:wrap;margin:0;
        > li{flex:0 0 33.33333333%;box-sizing: border-box;padding:5px;}
    }
}
@media(max-width:1023px){
    .bottom_quick_zone{display:none;}
    .footer_pc{display:none;}
    .footer_mobile{display:block;}

    .footer_wrap .pix_inner{padding:0 15px;}

    .pc_menu{display:none !important;}
    .mb_menu{display:inline-block !important;}

    .header_wrap{border-radius:0 0 15px 15px;padding:15px 0 0;}
    .gnbmenu_main{font-size:15px;}
    .gnbmenu{display:inline-block;}
    .gnbmenu_list_wrap{margin-top:10px;padding: 0 30px 15px;}
    .gnbmenu_list_wrap::-webkit-scrollbar {display:none;}
    .gnbmenu_list > li.active .gnbmenu .gnbmenu_main{
        &:after{height:3px;}
    }
    .multi_top_zone{border-radius:0 0 15px 15px;
        &.mbtype2{border-radius:0;}
    }
    .sub_visual_cha_group{width:37.795vw;padding-bottom:3.150vw}
    .sub_visual_zone.shu_type .sub_visual_cha_group{padding-bottom:2.5vw}
    .sv_cha > img{max-width:25.197vw;}
    .sub_visual_zone{min-height:42.520vw;height:auto;}
    .sub_visual_copy_group{position:static;width:auto;}
    .sub_visual_copy_inner{padding:0 6.299vw;}
    .sub_visual_label{font-size:3.465vw;}
    .sub_visual_main{font-size:6.614vw;}

        
    .sub_visual_else_zone{padding:15px 20px 27px;}
    .sv_else_title{font-size:23px;}
}
@media(max-width:430px){
    .gnbmenu_list_wrap{padding: 0 15px 20px;position:relative;overflow-x:auto;margin:15px -20px -20px;}
    .header_wrap{padding:15px 30px 20px;}
    .gnbmenu_main{font-size:14px;}
    .gnbmenu_list{text-align: center;}
}