.primary_header_wrap{width:1214px;margin:0 auto;position:relative;}
.toplogo_primary{z-index:1;background:url("../images/bg_mainlogo.png") no-repeat 0 100%/auto 100%;width:210px;height:67px;display:flex;align-items: center;justify-content: center;font-size:0;line-height:0;position:absolute;top:0;left:-160px;}
.toplogo_primary_item{
    > img{max-width:106px;}
}
.gnbmenu_list_wrap.type2{
    background-image:url("../images/bg_gnb_main.png");z-index:3;position:relative;
    .gnbmenu_list{
        > li {
            position:relative;
            &:after{display:block;content:'';width:1px;height:33px;background:#659AFF;position:absolute;top:50%;right:0;transform: translateY(-50%);}
            &:last-of-type{
                &:after{display:none;}
            }
        }
    }
}
.gnbmenu_primary_list_wrap{
    .gnbmenu_list_wrap{}
}

.gnbmenu_ad_banner{z-index:1;background:url("../images/bg_main_add.png") no-repeat 100% 100%/auto 100%;width:210px;height:67px;display:flex;align-items: center;justify-content: center;font-size:0;line-height:0;position:absolute;top:0;right:-160px;}
.ad_banner_group{text-align: center;}
.ad_banner_sub{color:#FCD11D;line-height:1;font-family: 'GmarketSansMedium';font-size:12px;}
.ad_banner_main{font-family: 'GmarketSansBold';font-size:16px;color:#fff;margin-top:3px;line-height:1;}

.main_contents_zone{}
.main_vitem{
    position:relative;
    &:before{
        display:block;content:'';position:absolute;bottom:0;left:0;width:92px;height:83px;background:url("../images/mc_corner_top_01.png") no-repeat 0 0;
    }
    &:after{
        display:block;content:'';position:absolute;top:0;right:0;width:92px;height:84px;background:url("../images/mc_corner_bottom_01.png") no-repeat 0 0;
    }
    &:first-of-type{
       &:after{display:none;} 
    }
    &:last-of-type{
       &:before{display:none;} 
    }
    &.define_primary{
        background:#eff2f7 url("../images/bg_mvitem_primary.png") no-repeat 100% 0;
    }
    &.define_mv01{background:#0A2E71 url("../images/bg_mvitem_01.png") no-repeat 50% 50%;
        &:before{background-image:url("../images/mc_corner_top_02.png")}
        &:after{background-image:url("../images/mc_corner_bottom_01.png")}
    }
    &.define_mv02{background:#F2D798 url("../images/bg_mvitem_02.png") no-repeat 50% 50%;
        &:before{background-image:url("../images/mc_corner_top_03.png")}
        &:after{background-image:url("../images/mc_corner_bottom_02.png")}
    }
    &.define_mv03{background:#24D6B2 url("../images/bg_mvitem_03.png") no-repeat 50% 50%;
        &:before{background-image:url("../images/mc_corner_top_04.png")}
        &:after{background-image:url("../images/mc_corner_bottom_03.png")}
    }
    &.define_mv04{background:#ffc70d url("../images/bg_mvitem_04.png") no-repeat 50% 50%;
        &:before{background-image:url("../images/mc_corner_top_05.png")}
        &:after{background-image:url("../images/mc_corner_bottom_04.png")}
    }
    &.define_mv05{background:#faf8f8 url("../images/bg_mvitem_05.png") no-repeat 50% 100%;
        &:before{background-image:url("../images/mc_corner_top_06.png")}
        &:after{background-image:url("../images/mc_corner_bottom_05.png")}
    }
    &.define_mv06{
        background:#4387b9;
        &:after{background-image:url("../images/mc_corner_bottom_06.png")}
        .copy_group{}
        .copy_main{
            strong{}
        }

    }
}
.vitem_logo_row{}
.data_get_wrap{}
.btn_data_get_control{
    &.prev{}
    &.next{}
}
.swiper-container.main-visual-container{
    .swiper-wrapper{}
    .swiper-slide{}
}
.data_get_box{}
.data_get_category{}
.data_get_category_text{}
.data_get_text{}
.data_get_btn{}
.btn_golink{
    &:after{}
}
.golink_text{}

.vitem_inner{}

.bottom_banner_wrap{display:block;position:fixed;bottom:0;left:0;width:100%;box-sizing: border-box;z-index:100;padding:0 30px 5px;text-align: center;}

.bottom_long_banner{display:inline-block;}
.bottom_long_banner img{vertical-align: top;}

.primary_screen_container{
    max-width:898px;margin:0 auto;position:relative;font-size:0;line-height:0;text-align:center;padding:1.302vw 0 10.625vw;
    img{vertical-align: top;}
}
.primary_label{display:block;max-width:25.469vw;margin:0 auto;}
.primary_screen{display:block;margin-top:34px;}
.primary_open_obj{}
.primary_screen_container{}
.pscreen_flex{display:flex;justify-content: center;}
.pscreen_shot{flex:0 0 11.979vw;padding-top:2.344vw;}
.pscreen_long{flex:0 0 46.771vw;margin:0 4.557vw;}

.player_layer{position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000;display:flex;align-items: center;justify-content: center;display:none;}
.player_layer.active{display:flex !important;;}
.player_bg{position:fixed;top:0;left:0;width:100%;height:100%;z-index:0;background:#000;opacity:.81;}

.player_iframe_wrap{background:#71777C;position:relative;z-index:5;width:100%;height:0;padding-bottom:55.12249443207127%;
    iframe{position:absolute;top:0;width:100%;height:100%;left:0;}
}
.player_container{display:flex;justify-content:center;position:relative;z-index:5;}
.player_main{flex:0 0 898px;position:relative;margin:0 1.563vw;}
.player_short{flex:0 0 60px;}
.btn_player_close{display:block;width:3.125vw;height:3.125vw;background:url("../images/btn_screen_layer_close.png") no-repeat 0 0/100% auto;}

.primary_mb_item{padding:8.667vw 2.667vw 36vw;}
.has_tongimg{font-size:0;line-height:0;
    img{width:100% !important;}
}
.primary_mb_screen{display:block;margin-top:3.200vw}
.pc_tongimg_wrap{display:flex;align-items: center;justify-content: center;font-size:0;line-height:0;padding:0 30px;}
.pc_tongimg_wrap img{vertical-align: top;}

.define_mv01 .pc_tongimg_wrap{min-height:1024px;}
.define_mv02 .pc_tongimg_wrap{min-height:1023px;}
.define_mv03 .pc_tongimg_wrap{min-height:1020px;}
.define_mv04 .pc_tongimg_wrap{min-height:1025px;}
.define_mv05 .pc_tongimg_wrap{min-height:1060px;}

@media(max-width:1279px){
    .gnbmenu_ad_banner{display:none;}
    .gnbmenu_list_wrap.type2 .gnbmenu_list > li:after{display:none;}
    .toplogo_primary{background:none;display:block;position:static;text-align: center;width:auto;height:auto;}
    .multi_top_zone{
        &.main_type{border-radius:0 0 50px 50px;position:relative;overflow:hidden;background:#2D70F0;}
    }
    .primary_header_wrap{
        border-radius: 0 0 50px 50px;
        width: auto;
        position: relative;
        padding: 30px 37px;
    }
    .primary_screen_container{
        padding-top:3vw
    }
}
@media(max-width:1023px){
    .multi_top_zone.main_type{border-radius:0 0 15px 15px;}
    .primary_header_wrap{border-radius:0 0 15px 15px;padding:15px 30px 0;}
    .main_vitem{
        &:before,
        &:after{display:none;}
        background:none !important;
    }
    .bottom_banner_wrap{padding:0;}

    .player_layer {box-sizing: border-box;padding:20px;}
    .player_container{
        display:block;width:100%;box-sizing:border-box;
        .player_short:first-child{display:none;}
        .player_short{flex:0 0 30px;}
    }
    .btn_player_close{position:absolute;top:-40px;right:0;width:30px;height:30px;}
    .player_main{margin:0;}
}